<?xml version="1.0"?>
<launch>

  <!-- Gazebo setup with simulated IMU and GPS -->
  <param name="use_sim_time" value="true" />
  <include file="$(find diffbot)/src/diffbot_description/src/launch/diffbot_gazebo.launch">
    <arg name="imu" value="true"/>
    <arg name="gps" value="true"/>
  </include>

  <!-- robot_localization nodes:
    ekf_localization_node and navsat_transform_node -->
  <include file="$(find diffbot)/src/diffbot_localization/launch/localization.launch"/>




</launch>
